@font-face {
    font-family: Sansation;
    src: url(../../../assets/font/sansation/Sansation_Bold.ttf);
}
:root{
    --backgroundColor: #40128B;
    --primaryColor: #9336B4;
    --secondaryColor: #8426A6;
    --minColor: #DD58D6;

}
body {
    background-color: var(--backgroundColor);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: .5rem 1rem;
    background-color: #9336B4;
}
.nav-links {
    color: #fff;
    font-size: 1.2rem;
    display: flex;
    list-style: none;
}
.nav-links li {
    padding: 0 1rem;
}
.nav-links li a {
    color: var(--backgroundColor);
    text-decoration: none;
}

.navbar .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.menu .user-name {
    padding-right: .5rem;
}
.menu .fa-user {
    font-size: 1.5rem;
}
.menu .user-btn {
    background-color: #FF0060;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.menu .menu-content {
    width: 100px;
    display: none;
    position: absolute;
    right: 0;
    bottom: -3rem;
    background: var(--secondaryColor);
}
.menu .menu-content a {
    color: var(--minColor);
    text-align: center;
    text-decoration: none;
}
.menu:focus-within > .menu-content {
    display: flex;
    flex-direction: column;
}


.shop-footer {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-send-order {
    color: var(--secondaryColor);
    outline: none;
    border: 0;
    width: 10rem;
    padding: .800rem;
    border-radius: 60px;
    cursor: pointer;
    background-color: var(--minColor);
}
