:root {
    --backgroundColor: #40128b;
    --minColor: #dd58d6;
    --primaryColor: #9336b4;
    --secondaryColor: #8426a6;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login-register-main {
    height: 100vh;
    display: grid;
    place-items: center;
    align-items: center;
    background-color: var(--backgroundColor);
}
.form-container {
    color: var(--backgroundColor);
    height: auto;
    width: 30rem;
    box-shadow:0 0 8px 2px #888888;
    border-radius: 30px;
    background-color: var(--minColor);
    overflow: hidden;
}
.login-register-header {
    padding: .5rem;
    text-align: center;
    border-bottom: 1px solid var(--backgroundColor);
}
.input-field {
    padding: 1rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.input-field-row {
    display: flex;
    flex-direction: column;
}
footer {
    padding-top: .5rem;
    text-align: center;
}
footer p a {
    text-decoration: none;
    color: #fff;
}
.input-field-section {
    height: auto;
    width: 100%;
    display: flex;
    gap: 5px;
}

.input-field-section .input-field-box {
    width: 50%;
    display: flex;
    flex-direction: column;
}

/* Modified Input Style from Bootstrap */
.form-control-main {
    display: block;
    width: 100%;
    padding: 0.200rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

