@font-face {
    font-family: Montserrat;
    src: url(../../../assets/font/montserrat/Montserrat-Bold.otf);
}
@font-face {
    font-family: Sansation;
    src: url(../../../assets/font/sansation/Sansation_Bold.ttf);
}
@font-face {
    font-family: Sansation-light;
    src: url(../../../assets/font/sansation/Sansation_Light.ttf);
}
:root{
    --backgroundColor: #40128B;
    --primaryColor: #9336B4;
    --secondaryColor: #8426A6;
    --minColor: #DD58D6;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    width: 100%;
}
main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--backgroundColor);
    color: white;
}
main header {
    font-family: Sansation;
    height: 10%;
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .header-logo {
    font-size: 2rem;
}
.btn-section button {
    color: white;
    border: 0;
    background-color: var(--minColor);
    border-radius: 20px;
    min-width: 110px;
    padding: .3rem 1.5rem;
    cursor: pointer;
    transition: .5s;
}
.btn-section button:hover {
    background-color:#d33acb;
}
main .hero-section {
    padding-top: 1rem;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-section .hero-text {
    flex: .2 0 300px;
    font-family: Montserrat;
    font-size: 3rem;
    line-height: normal;
}
#hero-img {
    width: 340px;
}
main .divider {
    position: relative;
    height: 10%;
    flex-grow: 1;
    height: 100px;
    width: 100%;
}
.divider img {
    height: 100%;
    width: 100%;
}
.divider .wave {
    position: relative;
    z-index: 5;
}
.divider .wave-shadow {
    position: absolute;
    transform: translateY(-105%);
    z-index: 1;
}
.divider-bottom {
    transform: rotate(180deg);
}
main .web-content {
    background-color: var(--primaryColor);
    height: 30%;
}
.web-content .web-features {
    height: 100%;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.web-features .feat {
    text-align: center;
}
.web-features .feat h4{
    font-family: Sansation;
    font-weight: bolder;
    font-size: 1.9rem;
}
.web-features .feat p {
    font-family: Sansation-light;
    font-size: 1.5rem;
}
.web-features .line-divider {
    height: 168px;
    width: 20px;
    border-radius: 30px;
    background-color: var(--secondaryColor);
}